
html,*{
    font-family: 'Poppins' !important;
}


h6.e-text{
font-family: 'Poppins';
padding-left: 2rem;
padding-top: 1rem;
}

h4.e-text{
    font-family: 'Poppins';
    padding-left: 2rem;
    padding-top: 1rem;
    font-size: 1.3rem;
    }

    .s-description{
        font-family: 'Poppins';
        font-size: 0.8rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

.CurrentAccount{
    padding-left: 2rem;
    padding-right: 2rem;
}


.space{
    height: 10px;
}

.space-main{
    height: 7rem;
}

.main-view{
    background-color: #FBFBFB;
}

.space-medium{
    height: 1rem;
}
.space-top{
    height: 5rem;
}

.account{
border-radius: 30px;
color:rgb(0, 0, 0);
margin-bottom: 0px;
font-family: 'Poppins';
}

label.s-Label{
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 0.9em;
}

input#s-Input{
border-style: none;
border-width: 0px;
border-bottom-style: solid;
border-bottom-width: 1px;
background-color: #FBFBFB;
}

input#s-Input:focus{
    border: 0px;
    border-style: none;
    border-width: 0px !important;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background-color: #FBFBFB;
    font-family: 'Poppins';
    font-size: 0.8em;
    font-weight: 300;
    padding-top:05px;
    padding-bottom:05px;
    text-indent: 05px;
    outline: 0px;
    border-bottom-width:3px;
    }


.account-link{
    color:black;
}

.account-link:hover{
    color:rgb(34, 190, 241);
    font-weight: 500;
}

a.account-link{
text-decoration: none;

}
.form-control{
    font-size:0.8em;
}

.signature{

color:rgb(143, 143, 143);
margin-bottom: 0px;
font-family: 'Poppins';
font-size: 0.9rem;
}

input#exampleInputText1.form-control{
    background-color: #FBFBFB;
    border: none;
    border-bottom: 1px solid rgb(143, 143, 143);
    border-radius: 0px;
    width: 60%;
    text-transform: capitalize;
}

input#exampleInputEmail1.form-control{
    background-color: #FBFBFB;
    border: none;
    border-bottom: 1px solid rgb(143, 143, 143);
    border-radius: 0px;
    width: 60%;
}

input#exampleInputText1.form-control:focus{

padding: 0px;
margin: 0px;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

span.id-prefix{
font-size: 0.8em;
}

a.current-btn{
    color:white;

}

a.current-btn:hover{
    text-decoration: none;
    
}

.id-upload{
    height: 50%;
    width: 50%;
    border: 2px solid #007bff;
    border-radius: 10px;
    margin: 10px;
}


